*{
    margin: 0%;
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
}
body{
    width: 100%;
    background-image: url("./img/pizza1.png");
    background-size: cover;
    overflow-x: hidden;
}

header{
    width: 100%;
    height:3rem;
    background-color: #0A6847;
}
img{
    width: 10%;
    padding-right: .5rem;
}
header>a{
    display: flex;
    width: 15%;
    background-color: #F3CA52;
    padding: 1rem 2rem;
    border-radius: 10px;
}
a{
    color: black;
    padding-left: 1rem;
}

.search{
    margin-top: 2%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.search :hover{
    transition: all,0.3s,ease-out,0.5s;
    height:40px;
    width: 350px;
}
#ingredientInput{
    padding: 10px;
    width: 90%;
    border-radius:20px;
    border:none;
}

.recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing:3px;
    margin-bottom:10px;
}

.recipe>a{
    text-decoration: none;
    background-color: #F6E9B2;
    color: black;
    padding: 0.8rem;
    margin-top: auto;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

button{
    width: 150px;
    padding: 0.5rem 1rem;
    background-color: #d3a716;
    border: none;
    outline: none;
    color:black;
    font-size: 14px;
    border-radius: 10px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#7ABA78;
}
.box{
    margin-top:4rem;
    padding: 30px;
    width: 60%;
    background-color: #0A6847;
    color:white;
    border-radius: 40px;
}

